<h1 class="main-heading">Stupid Coaching</h1>
<p>Ask your Coach anything:</p>

<form id="question-form" action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
